form .mr{display: none;border: 2px solid black; border-radius: 6px;width: 23%;padding: 10px;margin-top: 20px;}
form label{width: 28%;}
form #selectCivilite{width: 13%; border-radius:4px;height: 30px;margin-top: 5px;}
form input{padding: 5px 0; margin: 7px 0;}